/**
*
* Variables
*
**/

$columnsWidthSet: (10, 20, 25, 30, 33, 40, 50, 60, 67, 70, 75, 80, 90);

/* Colors */

$colorMain: #222;

$socialMediaColors: (
    twitter: #4099ff, 
    linkedin: #007bb6, 
    facebook: #3b5998, 
    googleplus: #dd4b39, 
    email: #3bb55e, 
    instagram: #e1306c
);

$colors: (
    white: #fff,
    red: #d70000
);

$bgColorsWhiteFont: (
    red: #d70000
);